/* Add additional stylesheets below
-------------------------------------------------- */

body {
    font-family: "Arial", sans-serif;
}

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: yellow;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.miss:after {
    font-size: 100%;
    color: white;
    content: "X";
}

#buttonbox {
position: absolute;
top: 375px;
left: 600px;
}

#player {
position: absolute;
float: left;
top: 400px;
}
#opponent {
position: absolute;
top: 30px;
left: 500px;

}
