/* Add additional stylesheets below
-------------------------------------------------- */

body {
    font-family: "Arial", sans-serif;
    font-size: 11pt;
}

/* Grid/Boards */

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    table-layout: fixed;
}

.battleGrid tr {
    border: 1px solid black;
}

.battleGrid td {
    border: 1px solid black;
}

.hover, #opponent td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: brown;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    position: relative;
    background-color: lightblue;
}

.miss:after {
    position: absolute;
    color: white;
    content: "X";
    left: 10px;
    top: 8px;
}

/* Page Layout */

.container {
    width: 1000px;
    margin: auto;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

#opponent {
    margin: 1rem 0;
    width: 320px;
    height: 320px;
}

#playerside {
    width: 480px;
    display: flex;
    justify-content: flex-start;
}

#player {
    width: 200px;
    height: 200px;
}

#player .miss:after {
    content: none;
}

#guide {
    flex-grow: 1;
    margin: 0 1rem;
    border: 1px solid black;
    padding: 0.5rem;
}
